<?js
    var methods = obj;
?>

<table class="params table table-bordered table-condensed">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Name</th>
            <th class="last">Description</th>
        </tr>
        </thead>

        <tbody>
        <?js
            var self = this;
            methods.forEach(function(method) {
                if (!method) { return; }
        ?>
        
        <tr>
            <td><i class="icon-terminal"></i></td>
            <td class="name"><a href="#<?js= method.name ?>"><?js= method.name ?></a></td>
            <td>
                <?js if (method.description) { ?>
                    <?js= method.description.replace(/\n\n/g, '</p><p>') ?>
                <?js } ?>
            </td>
        </tr>

        <?js }); ?>
        </tbody>
</table>
